.sidebar {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 200px;
  background-color: #1a1a1a;
  text-align: center;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px 0;
  border-bottom: 1px solid #333;
  transition: all 0.3s ease;
}

.sidebar a:hover {
  background-color: #333;
}

.sidebar ul li a svg {
  color: white;
}
